.container {
  display: flex;
  justify-content: center;
  height: 12vh;
  max-height: 6rem;
  /* box-shadow: 0px 3px 30px #00000014; */

  z-index: 4;
  /* background-color: #161b22; */
}
.searchBar {
  margin: 0.9rem 0;
  border-radius: 8px;
  padding-left: 9px;
  height: 2.6em;
}
.navbarContainer {
  margin: 0;
  padding: 0 1rem;
  width: 100%;
  min-width: 98vw;
  max-height: 6rem;
  background-color: #1c2f4e;
  height: 12vh;
  display: flex;
  z-index: 7;
  color: #f0f6fc;
  padding-top: 0.8rem;
  position: fixed;
  padding: 0 10vw;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  /* borde: 1px solid rgba(34, 36, 38, 0.15); */
}

.left {
  /* float: left; */
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
}

.navElementBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navElement {
  margin-right: 37px;
}

.connectBtn {
  transition: transform 0.2s ease 0s;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 15px -3px;
  background: rgb(24, 198, 131) !important;
  position: relative;
  top: 0;
  margin: auto 0;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 0.8rem 1rem;
  font-size: 1em;
  font-weight: 600;
  width: 14rem;
  cursor: pointer;
}

.searchBar {
  margin-top: 0.4rem;
  display: flex;
  height: 3em;
  width: 99%;
  color: black;
}

.searchIcon {
  margin-right: 1.5em;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-top: 0em;
  color: #f0f6fc;
  background: #1c2f4e;
}

.notification {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-right: 1.5rem;
}
.notification a {
  display: flex;
  align-items: center;
}
.notificationIcon {
  display: flex;
  align-items: center;
  margin-top: -0.1em;
}
