@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
App {
  font-family: sans-serif;
  text-align: center;
  color: #000;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
}
.App::-webkit-scrollbar {
  /* display: none; */
}
